.header {
    color :rgb(1, 1, 1);
    text-align: center;
    padding: 30px 20px;
    margin: 20px auto;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    background: linear-gradient(135deg, rgb(68, 0, 255), rgb(0, 0, 255));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    border: black solid;
}
.content {
    color :blueviolet;
    font-size: 40PX;
    text-align: center;
    

}
